# Firebase config
**/GoogleService-Info.plist

# Xcode user-specific data
**/xcuserdata/
**/xcuserdata/**

# macOS metadata
.DS_Store

# Xcode build artifacts
DerivedData/
build/

# SwiftPM
.swiftpm/

# Xcode workspace settings
*.xcuserstate
